body {
  font-family: "Roboto", sans-serif;
}

.card-title {
  font: 500 1.25rem "Noto Sans", sans-serif;
  text-align: center;
}

.card-img-overlay .card-title {
  color: white;
  background-color: rgba(255, 0, 0, 0.8);
}